/*  general  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 400;
    overflow-x: hidden;
    color: #6e6e6e;
    background-color: #ffffff;
}

/*  bold text and general text  */

image-texting {
    font-weight: 700;
    color: #383838;
    letter-spacing: -0.5px;
    font-size: 2rem;
    line-height: 1.2;
    margin: 1.2rem;
    text-align: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    color: #383838;
    letter-spacing: -0.5px;
}

.heading-primary {
    font-size: 6.0rem;
    line-height: 1.05;
    margin-bottom: 0rem;
}

.heading-secondary {
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 0rem;
    text-align: center;
}

.heading-tertiary {
    font-size: 2rem;
    line-height: 1.2;
    margin: 1.2rem;
}

/* idk why tf this is here  */

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 9.6rem;
    padding: 0 4.8rem;
}

.logo {
    height: 2.2rem;
    font-size: 3re.0m;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #303030;
}

.transition {
    min-height: 40rem;
    justify-content: center;
    align-items: center;
    color: #404040;
}

/* navigation */

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.main-nav-link {
    display: inline-block;
    text-decoration: none;
    color: #1c1c1c;
    font-weight: 400;
    font-size: 2rem;
}

/* again, idk */

small {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
    padding: 50px 0;
    font-weight: 800;
    margin: 0;
    letter-spacing: -1px;
    color: inherit;
    font-size: 6rem;
}

h2 {
    text-align: center;
    font-size: 4.5rem;
    margin: 0;
    font-weight: 300;
    color: inherit;
    padding: 50px;
    height: 30px;
}

.center {
    text-align: center;
}

section {
    height: auto;
}

/*  navigation animation lol  */

nav {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 50px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #555;
}


/*  stroke  */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

nav.fill ul li a {
    transition: all 2s;
}

nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

nav.fill ul li a:hover {
    color: #aaa;
    z-index: 1;
}

nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

/*  keyframes for animation   */
/*  can't tell if this works all the way, forgot  */

@keyframes fill {
    0% {
            width: 0%;
            height: 1px;
        }
    50% {
            width: 100%;
            height: 1px;
        }
    100%{
            width: 100%;
            height: 100%;
            background: #333;
        }
}

/*  hero  */

.section-hero {
    padding: 15rem 0 9.6rem;
    display: grid;
    height: 70rem;
    width: 70rem;
}

.hero {
    padding: 0 9.6rem;
    align-items: center;
    grid-column-start: 1;
    grid-row-start: 1;
}

.hero-card {
    width: 100%;
    background-size: 100% 100%;
    padding: 0 0rem;
    align-items: center;
    grid-column-start: 1;
    grid-row-start: 1;
}

.hero2 {
    padding: 0 9.6rem;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 2;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin: 0rem;
    color:#1c1c1c;
}

.hero-description2 {
    font-size: 2rem;
    line-height: 1.6;
    margin: 0rem;
    color:#ffffff;
}
.hero-description3 {
    font-size: 2rem;
    line-height: 1.6;
    margin: 0rem;
    color:#ffffff;
    text-align: center;
}
/*  services (idk why again)  */

.our-services {
    padding: 9.6rem 0;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem 3.2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.services img {
    width: 80%;
    border-radius: 9px;
    display: grid;
}

/*  about  */


.grid-about {
    grid-template-columns: 1.2fr 0.8fr;
    gap: 0;
    filter: drop-shadow(0px 12px 16px rgba(0, 0, 0, 0.2));  
}

.about {
    padding: 2rem 0 7rem 0;
}

.about img {
    width: 98%;
    justify-self: end;
    border-radius: 9px;
}

.text {
    max-width: 110rem;
    background-color: #b8b8b8;
    padding: 10rem 5rem;
    margin-left: -5rem;
    border-radius: 9px;
}

.text h2 {
    margin-bottom: 0rem;
    text-align: center;
}


/*  foot  */

img {
    border-radius: 20px;
}

footer {
    text-align: center;
    background-color: #c8c8c8;
    padding: 2.5rem;
}

/*  random stuff fr  */

.pngtransit {
    max-width: 120rem;
    max-height: 240rem;
    position: relative;
}

.section-descent {
    background-color:#1c1c1c;
    padding: 2.5rem;
    height: 20rem;
}

.descent-description {
    font-size: 2rem;
    font-style: color = "c8c8c8";
    text-align: center;
    vertical-align: center;
}

.middling-text {
    font-size: 2rem;
    text-align: center;
}

.imaging {
    text-align: center;
    border-radius: 20rem;
}

.imageneeded {
    text-align: center;
}

.descent {
    min-height: 10rem;
}

.right{
    text-align: right;
}

/*  box method  */

.hero{
    margin: 5px auto;
    display:grid;
    grid-template-columns: 60rem 60rem;
    grid-row: auto auto;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    margin-left: 5rem;
        .box{
            padding: 1rem;
            border-radius: 2rem;
            display:flex;
            align-items:center;
            justify-content:center;
            font-size:4.5rem;
}
}

.hero2{
    margin: auto;
    display: grid;
    grid-template-columns: 60rem;
    grid-row: auto;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    margin-left: 5rem;
        .box2{
            padding: 1rem;
            border-radius: 2rem;
            display:flex;
            align-items:center;
            justify-content:center;
            font-size:4.5rem;
}
}

/*  top of page  */

.wide-image {
    width: 100%;
    background-image: src="C:\Users\akima\Downloads\chartes labyrinth.png";
    height: 50%;
}

.image-text {
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 3rem;
    line-height: 1.2;
    margin: 1.2rem;
}

.image-text2 {
    text-decoration-line: underline;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 3rem;
    line-height: 1.2;
    margin: 1.2rem;
    color: #1c1c1c;
}

.imaging-text {
    text-align: left;
    font-weight: 300;
    color: #383838;
    letter-spacing: -0.5px;
    font-size: 2rem;
    line-height: 1.2;
    margin: 1.2rem;
}

.imaging-text2 {
    text-decoration-line: underline;
    text-align: left;
    font-weight: 300;
    color: #383838;
    letter-spacing: -0.5px;
    font-size: 2rem;
    line-height: 1.2;
    margin: 1.2rem;
}

/*  duplicates with changes and hero-card  */

.hero2 {
    margin: 5px 5px;
    display:grid;
    grid-template-columns: 60rem 60rem;
    grid-row: auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
        .box{
            padding: 1rem;
            border-radius: 2rem;
            display:flex;
            align-items:center;
            justify-content:center;
            font-size:40px;
}
}

.hero-card{
    margin: auto;
    display:grid;
    grid-template-columns: 60rem 60rem;
    grid-row: auto auto;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    background-color: #303030;
    background-size: 100%;
    border-radius: 2rem;
        .box{
            padding: 1rem;
            border-radius: 2rem;
            display:flex;
            align-items:center;
            justify-content:center;
            font-size:4.5rem;
}
}

/*  generally a bad design, but decent implementation  */
/*  if someone needs to look through this to make a different website then i am sorry for you mate  */
/*  i would honestly just scrap it and redo it, as it is spaghetti code  */